.has-search {
    position: relative;

    .form-control {
        padding-left: 2.375rem;
    }

    .form-control-feedback {
        position: absolute;
        z-index: 2;
        display: block;
        line-height: 2.375rem;
        text-align: center;
        pointer-events: none;
        color: #aaa;
        top: 12px;
        left: 12px;
    }
}